<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
    <style>
      div {
        border: solid 1px;
        border-color: red;
      }
    </style>
  </head>
  <body>
    <div>
      <!-- supostamente isso seria a barra em cima lá -->
    </div>
    <div>
      <!-- pesquisa -->
    </div>
    <div>
      <!-- imagem -->
    </div>
    <div>
      <div>
        <a href="">
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <h3>Nome do produto aqui</h3>
            <p>Preço aqui</p>
          </div>
        </a>
      </div>
      <!-- outra div para outra categoria -->
    </div>
  </body>
</html>
